<div class="row">
<div class="white col s6 m6 offset-3 offset-m3">
  <h1>Bars, Restaurants & Coffees Shops</h1>
  <a href="/places">See all the places</a>
  <hr>
  <a href="/places/new">Create a new place</a>
<hr>
</div>
</div>

{{!-- 
<script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.3/mapbox-gl-directions.js'></script>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoicGhpY2siLCJhIjoiY2p1dHlpdGhqMGQ2azN6cWl1N3UxcTBmYyJ9.CSgR_P7mP1cC9-7AIC4hlQ';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-99.1652747,19.421548],
    zoom:15,
    
  });
  if(!navigator.geolocation) {
    console.log('Your browser is old,');
  } else{
    navigator.geolocation.getCurrentPosition(position => {
      const center = [
      position.coords.longitude,
      position.coords.latitude
      ]
      map.setCenter(center)
      const marker = new mapboxgl.Marker()
        .setLngLat(center)
        .addTo(map)
    })
  }
  const marker = new mapboxgl.Marker({
    color: 'red', 
    draggable: true})
    .setLngLat([-99.1652747,19.421548])
    .addTo(map)

  marker.addTo(map)
  map.addControl(new MapboxDirections({
    accessToken: mapboxgl.accessToken
  }), 'top-left')
</script> --}}